section {
    padding: 20px;
    text-align: center;
}

img {
    width: $img-width;
    height: $img-height;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px white;
    }
}
